@media (max-width: 767.99px) {
  /* banner part */
  #banner .banner_cnt h1 {
    font-size: 36px;
  }
  #banner .banner_cnt p {
    font-size: 14px;
  }
  #banner .banner_cnt input[type="search"] {
    width: 300px;
    padding: 14px;
  }
  /* practice part starts */
  #practice .card_4,
  #practice .card_5 {
    border-bottom: 1px solid #e7e7e7 !important;
  }

  /* testimonial part starts */
  #testimonial .carousel_cnt {
    top: 10px;
  }
}
